/* RESETS BEGIN */

* {
  padding: 0;
  margin: 0 !important;
  box-sizing: border-box;
  text-decoration: none;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5% !important;
  scroll-behavior: smooth;
  user-select: none;
}

li {
  list-style: none;
  cursor: pointer;
}

:root {
  --primary: #eae3d3;
  --secondary: #030303;
  --white: #f4f4f4;
  --accent-1: #e01606;
  --accent-2: #faa907;
  --accent-3: #080877;
}

/* .light {
  --primary: #eae3d3;
  --secondary: #030303;
  --white: #f4f4f4;
  --accent-1: #e01606;
  --accent-2: #faa907;
  --accent-3: #080877;
} */

/* .dark {
  --primary: #030303;
  --secondary: #eae3d3;
  --white: #f4f4f4;
  --accent-1: #e01606;
  --accent-2: #faa907;
  --accent-3: #080877;
} */

/* Scrollbar Styling Begins */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}

/* RESETS END */

/* FONTS BEGIN */

@font-face {
  font-family: 'Gogh';
  src: url('../fonts/Gogh-ExtraBold.otf'),
    url('../fonts/Gogh-ExtraBoldItalic.otf');
}

@font-face {
  font-family: 'Barbarella';
  src: url('../fonts/gogh/Barbarella.otf');
}

/* FONTS BEGIN */

body {
  background: var(--primary);
}

/* KEYFRAMES BEGIN */

@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-bottom {
  animation: fade-in-bottom 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-in-bottom-1 {
  animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-in-bottom-2 {
  animation: fade-in-bottom 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-in-bottom-3 {
  animation: fade-in-bottom 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-in-bottom-4 {
  animation: fade-in-bottom 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-in-bottom-5 {
  animation: fade-in-bottom 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* KEYFRAMES END */

/* LANDING PAGE STYLING BEGINS */

.landing-backrgound {
  background: linear-gradient(
    -83deg,
    #eae3d3,
    #daffa3,
    #a5fff5,
    #eae3d3,
    #ffabe2,
    #ffe0a1,
    #eae3d3
  );
  background-size: 400% 400%;
  animation: gradient 12s ease-in-out infinite;
  height: 100vh;
  width: 100%;
  position: fixed;
  opacity: 100%;
  z-index: 1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navigation {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  padding: 2em;
  position: relative;
  z-index: 2;
}

.navigation-link {
  background: none;
}

.navigation-logo {
  width: 10vw;
  height: 100%;
  background: url(../img/logos/DK---Dark.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  font-size: 2rem;
}

.nav-item {
  color: var(--secondary);
  font-family: 'Montserrat Alternates', sans-serif;
  /* text-decoration: underline; */
  background: linear-gradient(to left, #00000000 50%, var(--accent-2) 50%) right;
  background-size: 200%;
}

.nav-item:hover {
  background-position: left;
  /* border-left: 1px #faa907; */
  transition: ease-in 0.5s;
  font-weight: 800;
}

.landing {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8em;
  align-items: center;
  position: relative;
  z-index: 2;
}

.landing-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Gogh', sans-serif;
  font-size: calc(1.6rem + 2vw);
}

.landing-heading:nth-child(2) {
  font-family: 'Gogh', sans-serif;
  font-size: calc(1.7rem + 2vw);
}

.landing__blogs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 6em;
}

.landing__blogs-heading {
  font-family: 'Gogh', sans-serif;
  font-size: calc(1rem + 2vw);
  color: var(--secondary);
}

.blogs {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  align-content: center;
  flex-wrap: wrap;
  gap: 5em;
  font-family: 'Montserrat Alternates', sans-serif;
  /* font-size: calc(0.1rem + 2vw); */
}

.blogs__divider {
  border: solid 1px;
  border-color: var(--secondary);
  opacity: 50%;
}

.blogs__block {
  width: 100%;
  justify-content: center;
  /* align-items: center; */
  align-content: center;
  display: flex;
  flex-direction: row;
  gap: 5em;
}

.blogs__entry {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.blogs-title {
  font-size: 3rem;
}

.blogs__links {
  width: inherit;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

.blog-link {
  font-size: 2rem;
  color: var(--secondary);
  font-weight: 500;
  font-style: italic;
  /* padding-left: 0.5em; */
  /* border-left: 1px solid var(--accent-2); */
  /* text-decoration: underline; */
  background: linear-gradient(to left, #00000000 50%, var(--accent-2) 50%) right;
  background-size: 200%;
}

.blog-link:hover {
  background-position: left;
  border-left: 1px #faa907;
  transition: ease-in 0.5s;
  font-weight: 800;
}

/* LANDING PAGE STYLING ENDS */

/* LANDING PAGE MEDIA QUERIES BEGINS */

@media screen and (max-width: 980px) {
  .blogs {
    padding-bottom: 10vh;
  }

  .blogs__block {
    flex-direction: column;
    align-items: center;
  }

  .blogs__divider {
    width: 50%;
  }

  .blogs__divider--alt {
    width: 50%;
  }
}

/* LANDING PAGE MEDIA QUERIES ENDS */

/* GLOBAL BLOG HEADING STYLING BEGINS */

.global__header {
  display: flex;
  flex-direction: column;
}

.global-heading {
  font-family: 'Gogh', sans-serif;
  color: var(--secondary);
  font-size: calc(1.6rem + 2vw);
}

.global-subheading {
  font-family: 'Gogh', sans-serif;
  color: var(--secondary);
  font-style: italic;
  font-size: 3rem;
  padding-bottom: 1em;
}

.global-date {
  font-family: 'Montserrat Alternates', sans-serif;
  color: var(--secondary);
  font-size: 2.5rem;
  padding-left: 0.5em;
  border-left: solid 2px;
}

.global__body {
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-family: 'Montserrat Alternates', sans-serif;
  color: var(--secondary);
  font-weight: 600;
  font-size: 2rem;
}

/* GLOBAL BLOG HEADING STYLING ENDS */

/* GLOBAL MEDIA QUERIES BEGINS */
@media screen and (max-width: 900px) {
  .global-subheading {
    font-size: 2rem;
  }

  .global-date {
    font-size: 1.5rem;
  }
}
/* GLOBAL MEDIA QUERIES ENDS */

/*  TE HOUTAEWA BEGINS */

.te-houtaewa {
  width: 100%;
  height: 85vh;
  padding: 5em 10em 10em 10em;
  display: flex;
  flex-direction: column;
  gap: 5em;
  position: relative;
  z-index: 10;
}

.te-houtawea__body {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-family: 'Montserrat Alternates', sans-serif;
  color: var(--secondary);
  font-weight: 600;
  font-size: 2rem;
}

@media screen and (max-height: 850px) and (max-width: 1310px) {
  .te-houtawea__body {
    padding-bottom: 10vh;
  }
}

@media screen and (max-width: 1200px) {
  .te-houtaewa {
    padding: 5em;
  }

  .te-houtawea__body {
    width: 100%;
  }
}

/* Te Houtaewa Ends */

/* ID's VS Classes Begins */

.identifiers {
  position: relative;
  z-index: 11;
  padding: 5em 10em 10em 10em;
  display: flex;
  flex-direction: column;
  gap: 10em;
}

.identifiers__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5em;
}

.identifiers__block-left {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.identifiers__block-right {
  display: flex;
  flex-direction: column;
  font-family: 'Gogh', sans-serif;
}

.identifiers__example {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.identifiers-example {
  font-size: 12rem;
  display: flex;
  flex-direction: row;
}

.identifiers-div {
  border: 2px solid;
  opacity: 50%;
}

/* .identifiers-example--alt{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2rem;
} */

.identifiers__trio {
  width: 100%;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.indentifiers-trio-img {
  width: 100%;
  border-radius: 30px;
}

.identifiers-trio-body {
  font-family: 'Montserrat Alternates', sans-serif;
  color: var(--secondary);
  font-weight: 600;
  font-size: 2rem;
}

.identifiers-link {
  font-size: 2rem;
  color: var(--secondary);
  font-weight: 500;
  font-style: italic;
  /* padding-left: 0.5em; */
  /* border-left: 1px solid var(--accent-2); */
  /* text-decoration: underline; */
  background: linear-gradient(to left, #00000000 50%, var(--accent-2) 50%) right;
  background-size: 200%;
}

.identifiers-link:hover {
  background-position: left;
  border-left: 1px #faa907;
  transition: ease-in 0.5s;
  font-weight: 800;
}

/* IDENTIFIERS STYLING ENDS */

/* IDENTIFIERS MEDIA QUERIES BEGINS */

@media screen and (max-width: 1200px) {
  .identifiers {
    padding: 5em;
  }

  .identifiers__block {
    flex-direction: column;
  }
}

/* IDENTIFIERS MEDIA QUERIES ENDS */

/* LEARNING PLAN BEGINS */

.learning {
  padding: 5em 10em 10em 10em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10em;
  position: relative;
  z-index: 12;
}

.learning__block {
  display: flex;
  flex-direction: row;
  gap: 5em;
}

.learning__block-left {
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.learning__block-right {
  flex-basis: 55%;
}

.learning-block-ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: flex-start;
}

.learning-block-item {
  list-style: circle;
  /* text-align: left; */
}

.learning-block-btn {
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  border-bottom: solid 1px black;
  font-weight: 500;
}

.learning-block-btn:hover {
  color: var(--accent-2);
  border-color: var(--accent-2);
  transition: 0.3s ease-in-out;
}

/* LEARNING PLAN ENDS */

/* LEARNING PLAN MEDIA QUERIES BEGINS */

@media screen and (max-width: 1200px) {
  .learning {
    padding: 5em;
  }

  .learning__block {
    flex-direction: column;
  }
}

/* LEARNING PLAN MEDIA QUERIES ENDS */

/* VALUES SECTION BEGINS */

.values {
  padding: 5em 10em 10em 10em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10em;
  position: relative;
  z-index: 12;
}

.values__block {
  display: flex;
  flex-direction: row;
  gap: 5em;
}

.values__block-left {
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.values__block-right {
  flex-basis: 55%;
}

.values-block-ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: flex-start;
}

.values-block-item {
  list-style: circle;
  /* text-align: left; */
}

.values-block-btn {
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  border-bottom: solid 1px black;
  font-weight: 500;
}

.values-block-btn:hover {
  color: var(--accent-2);
  border-color: var(--accent-2);
  transition: 0.3s ease-in-out;
}

/* VALUES SECTION ENDS */

/* VALUES MEDIA QUERIES BEGINS */

@media screen and (max-width: 1200px) {
  .values {
    padding: 5em;
  }

  .values__block {
    flex-direction: column;
  }
}

/* VALUES MEDIA QUERIES ENDS */

/* Hidden Section Toggle Styling Begins*/
.hidden {
  display: none;
}
/* Hidden Section Toggle Styling Ends */
